
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif ;

}

.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

h1,
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.section-flex {
    display: flex;
    flex-wrap: wrap;
}


.character {
    width: 25%;
    margin: 3%;
    border:2px orange solid;
    border-right: 3px orange solid;
    border-bottom: 3px orange solid;
    text-align: center;
    border-radius: 5px;

}
  
.character img {
    width: 80%;
    border-radius: 3%;
    
}
.info-character {
    text-align: justify;
    padding: 3%;
    
}

h2{
    font-weight: bold;
    margin-bottom: 2%;
}


footer{
    background-color: black;
    color:thistle;
    height: 80px;
    text-align: center;
}

footer p{
    padding-top: 2%;
}

/*css formulario*/

form {
    margin-left: 20%;
    width: 80%;
    text-align: left;
    margin-top: 5%;
}

.elemnt-flex {
    width: 100%;
    margin-bottom: 2%;
}

.label{
    width: 20%;
    float: left;
}

.elemnt-flex input,
select,
textarea {
    width: 70%;
    height: 30px;
}

.btn-div{
    text-align: center;
    width: 80%;
    margin-bottom: 20%;
}


.btn-div button {
    background-color:tomato;
    border: 5px tomato;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20%;
}















    